@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reports";
    ViewBag.Page = "التقارير";
}
<div class="main-container">

    <!-- Page header start -->
    
    <!-- Page header end -->
    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row starts -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <!-- Row start -->
                <div class="row gutters">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="risks-block high h-117">
                            <i class="icon-layers2"></i>
                            <div class="risk-details">
                                <h2>7</h2>
                                <p>عدد العملاء تم خدمتهم اليوم</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="risks-block low h-117">
                            <i class="icon-layers2"></i>
                            <div class="risk-details">
                                <h2>5</h2>
                                <p>إجمالي المبيعات اليوم</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="risks-block high h-117">
                            <i class="icon-layers2"></i>
                            <div class="risk-details">
                                <h2>7</h2>
                                <p>إجمالي المبيعات الإسبوعي</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="risks-block low h-117">
                            <i class="icon-layers2"></i>
                            <div class="risk-details">
                                <h2>5</h2>
                                <p>إجمالي المبيعات اليوم حسب الخدمة</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row ends -->
            </div>
        </div>
        <!-- Row end -->


    </div>
    <!-- Content wrapper end -->

</div>