@using Core.Model.Models
@model Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddEdit";
}
<div class="content-wrapper">

    <!-- Row start -->
    <div class="row gutters">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-100">

                <div class="card-body">
                    <div class="card-form">
                        <div class="card-header">
                            <div class="card-title">
                                <i class="icon-layers2"></i> &nbsp; المستخدمين

                                <a class="add-user" href="@Url.Action("Index")"><i class="icon-controller-fast-backward"></i> عودة</a>
                            </div>

                        </div>
                        <div class="card-body">

                            <div class="row gutters">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="fullName">اسم المستخدم:</label>
                                        <input type="text" class="form-control" placeholder=" ">
                                    </div>

                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">اسم العميل:</label>
                                        <input asp-for="Name" type="text" class="form-control" placeholder=" ">
                                    </div>

                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="MoileNumber">رقم الهاتف:</label>
                                        <input type="text" asp-for="Mobile" class="form-control" id="fullName" placeholder=" ">
                                    </div>

                                </div>
                                
                                
                                
                               
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">

                                    <div class="input-group mt-29">

                                        <div class="custom-file">

                                            <input type="file" class="custom-file-input" id="inputGroupFile04">
                                            <label class="custom-file-label" for="inputGroupFile04">إضافة صورة...</label>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-30">
                                    <div class="text-right">

                                        <a href="#" class="btn btn-primary"><i class="icon-save"></i> حفظ</a> &nbsp;
                                        <a href="#" class="btn btn-secondary"><i class="icon-cancel"></i> إلغاء</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




