@{
    ViewBag.Page = "تفاصيل العميل";
}

<div class="row gutters">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card h-100">

            <div class="card-body">
                <div class="card-form">
                    <div class="card-header">
                        <div class="card-title">
                            <i class="icon-layers2"></i> &nbsp; تفاصيل العميل

                            <a class="add-user" href="@Url.Action("Index")"><i class="icon-controller-fast-backward"></i> عودة</a>
                        </div>

                    </div>
                    <div class="card-body">

                        <div class="row gutters">
                         

                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>

</div>