@using Core.Model.Models
@model IQueryable<Customer>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Users";
}

<div class="content-wrapper">

    <!-- Row start -->
    <div class="row gutters">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-100">

                <div class="card-body">
                    <div class="card-form">
                        <div class="card-header">
                            <div class="card-title">
                                <i class="icon-layers2"></i> &nbsp; المستخدمين

                                <a class="add-user" href="@Url.Action("AddEdit")"><i class="icon-add"></i> إضافة مستخدم</a>
                            </div>

                        </div>
                        <div class="card-body">

                            <div class="row gutters">
                                <div class="col-xl-6 col-lg col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="fullName">اسم العميل:</label>
                                        <input type="text" class="form-control" id="fullName" placeholder=" ">
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="fullName">رقم الهاتف:</label>
                                        <input type="text" class="form-control" id="fullName" placeholder=" ">
                                    </div>

                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <div class="text-right">

                                        <a href="#" class="add_userbtn"><i class="icon-search"></i> بحث</a>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-30">

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>اسم المستخدم</th>
                                                            <th>اسم العميل</th>
                                                            <th>رقم الهاتف</th>
                                                            <th>الصورة</th>
                                                            <th>التصنيف</th>
                                                            <th>عدد الفواتير</th>
                                                            <th>عدد العملاء</th>
                                                            <th>عدد الخدمات</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>أحمد خالد محمود</td>
                                                            <td>عبد الله ابراهيم</td>
                                                            <td>+999 657 123 122</td>
                                                            <td><img class="img_table" src="/images/logo-2.png"></td>
                                                            <td>محلات خدمة سريعة</td>
                                                            <td>8</td>
                                                            <td>100</td>
                                                            <td>10</td>
                                                            <td>
                                                                <div class="td-actions">
                                                                    <a class="active" href="#"><i class="icon-power_settings_new"></i> تفعيل</a>
                                                                    <a class="edit" href="#" title="تعديل"><i class="icon-pencil"></i>  تعديل </a>
                                                                    <a class="delete" href="#" title="حذف"><i class="icon-delete"></i> حذف</a>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>أحمد خالد محمود</td>
                                                            <td>عبد الله ابراهيم</td>
                                                            <td>+999 657 123 122</td>
                                                            <td><img class="img_table" src="/images/logo-2.png"></td>
                                                            <td>محلات خدمة سريعة</td>
                                                            <td>8</td>
                                                            <td>100</td>
                                                            <td>10</td>
                                                            <td>
                                                                <div class="td-actions">
                                                                    <a class="cancel" href="#"><i class="icon-circle-with-minus"></i> تعطيل</a>
                                                                    <a class="edit" href="#" title="تعديل"><i class="icon-pencil"></i>  تعديل </a>
                                                                    <a class="delete" href="#" title="حذف"><i class="icon-delete"></i> حذف</a>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>أحمد خالد محمود</td>
                                                            <td>عبد الله ابراهيم</td>
                                                            <td>+999 657 123 122</td>
                                                            <td><img class="img_table" src="/images/logo-2.png"></td>
                                                            <td>محلات خدمة سريعة</td>
                                                            <td>8</td>
                                                            <td>100</td>
                                                            <td>10</td>
                                                            <td>
                                                                <div class="td-actions">
                                                                    <a class="active" href="#"><i class="icon-power_settings_new"></i> تفعيل</a>
                                                                    <a class="edit" href="#" title="تعديل"><i class="icon-pencil"></i>  تعديل </a>
                                                                    <a class="delete" href="#" title="حذف"><i class="icon-delete"></i> حذف</a>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>أحمد خالد محمود</td>
                                                            <td>عبد الله ابراهيم</td>
                                                            <td>+999 657 123 122</td>
                                                            <td><img class="img_table" src="/images/logo-2.png"></td>
                                                            <td>محلات خدمة سريعة</td>
                                                            <td>8</td>
                                                            <td>100</td>
                                                            <td>10</td>
                                                            <td>
                                                                <div class="td-actions">
                                                                    <a class="cancel" href="#"><i class="icon-circle-with-minus"></i> تعطيل</a>
                                                                    <a class="edit" href="#" title="تعديل"><i class="icon-pencil"></i>  تعديل </a>
                                                                    <a class="delete" href="#" title="حذف"><i class="icon-delete"></i> حذف</a>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>

</div>

